body::before {
  content: "";
  display: block;
  height: 72px;
}
#map {
  height: 300px;
  width: 100%;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .news-input {
    max-width: 50%;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
